.App {
  display: block;
  text-align: center;
}

table {
  display: inline-table;
  border-style: outset;
  border-radius: 10%
}

img {
  border-style: outset;
  border-radius: 10%;
}

th, td {
    padding: 15px;
    text-align: center;
}

.album {
  border-radius: 5%;
}

.song:hover {
  background-color: #C80155;
}

#song-list {
  padding:10px;
  margin:10px;
}

.total-time {
  padding:5px;
}
.current-time {
  padding: 5px;
}
.player-bar {
  border-radius: 10%;
  max-width: 30%;
  margin:1%;
  padding:1%;
  border-style: outset;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* color palette: */

.color-primary-0 { color: #80073A }	/* Main Primary color */
.color-primary-1 { color: #C80155 }
.color-primary-2 { color: #9F0A48 }
.color-primary-3 { color: #5A0026 }
.color-primary-4 { color: #350016 }
