.App {
  display: block;
  text-align: center;
  margin:5%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  width:100%;
  border-style: solid;
}

/* tr:hover {
  background-color: #70ff70;
} */


.total-time {
  padding:5px;
}
.current-time {
  padding: 5px;
}
.player-bar {
  border-radius: 20%;
  justify-content: center;
  max-width: 30%;
  margin:1%;
  padding:1%;
  border-style: outset;
}
/* As hex codes */

.color-primary-0 { color: #522B72 }	/* Main Primary color */
.color-primary-1 { color: #9376AC }
.color-primary-2 { color: #704C8F }
.color-primary-3 { color: #371356 }
.color-primary-4 { color: #210439 }

.color-complement-0 { color: #AAA539 }	/* Main Complement color */
.color-complement-1 { color: #FFFBAA }
.color-complement-2 { color: #D4D06A }
.color-complement-3 { color: #807B15 }
.color-complement-4 { color: #555100 }
